h1, h2, h3, a{
	font-family: Arial;
}
a{
	text-decoration: none;
	color: blue
}
input{
	font-family: Arial;
	width: 400px;
	height: 20px;
}
.login{
	background-color: aquamarine;
	width: 450px;
	margin: auto;
	padding: 20px;
	overflow: hidden;
}